.resume
  background-color: $text-color
  color: #f0f0f0
  display: block
  font-family: 'montserrat', sans-serif
  min-height: 100vh
  width: 100%
  position: absolute
  z-index: 0
  top: 0px
  a
    color: #F9731A

.close
  @extend .toggle

ul
  margin: 0
  margin-bottom: 20px
  padding: 0px

li
  list-style-type: none
  padding-left: 13px
  color: #accc49
  span
    color: #f0f0f0

.class
  color: #f079a3
  font-weight: bolder
