<div class="intro">
  <div class="wrap">
    <span class="toggle">
      <a href="#"><i class="fa fa-list"></i> CV</a>
    </span>
    <div class="avatar">
    </div>
    <div class="hello">
      <h1>Hi, I'm Angelo Cordon.</h1>
      <h2>San Francisco-based Ruby on Rails developer and web design enthusiast.</h2>
    </div>
    <div class="about">
      <p class="hire">tl;dr: I design and develop web apps. | <a href="mailto:angelocordon@gmail.com?subject=Hi there!&body=Hey Angelo, You sound awesome. Let's chat!">Hire Me.</a></p>
      <p>I co-founded <a href="http://www.avividvisual.com" target="_blank">A Vivid Visual</a> as a way to help small businesses and first-time entrepreneurs build minimum viable products of their ideas. I've also started <a href="#">Filipinos Forward</a> to cultivate entrepreneurship among all Filipino generations. Once in a while I'll blog about my <a href="https://medium.com/@angelocordon" target="_blank">escapades</a>.</p>
    </div>
    <div class="social">
      {% for item in site.data.settings.social %}
        {% if item.link == 'Email' %}
          <a href="mailto:{{ item.url }}" target="_blank">
            <i class="fa fa-{{ item.icon }} fa-2x"></i>
          </a>
        {% else %}
          <a href="{{ item.url }}" target="_blank">
            <i class="fa fa-{{ item.icon }} fa-2x"></i>
          </a>
        {% endif %}
      {% endfor %}
    </div>
    <small><i class="fa fa-code"></i> with <i class="fa fa-heart"></i> in San Francisco, CA</small>
  </div>
</div>
